{% extends 'base.html' %}

{% block title %}
  个人信息页
{% endblock %}
{% block style %}

{% endblock %}

{% block label %}
    个人信息页
{% endblock %}



{% block content %}

    <!--个人详情 -->
    <div class="row">
        <div class="col-lg-12">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">个人详情</h6>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td rowspan="3" width="200px">
                            <img style="width: 100%;height: 15%" src="/static/img/photo.jpeg">
                        </td>
                        <th>姓名</th>
                        <td>songdan</td>
                        <th>性别</th>
                        <td>男</td>
                    </tr>
                    <tr>
                        <th>年龄</th>
                        <td>18</td>
                        <th>身份</th>
                        <td>学生</td>
                    </tr>
                    <tr>
                        <th>学科</th>
                        <td>python</td>
                        <th>阶段</th>
                        <td>python阶段二、python阶段三</td>
                    </tr>
                    <tr>
                        <th>联系方式</th>
                        <td>13331153360</td>
                        <th>家庭住址</th>
                        <td colspan="2">北京朝阳王四营</td>
                    </tr>
                </table>
            </div>
          </div>
        </div>
    </div>

    <!--  课程表 -->
    <div class="row">
        <div class="col-lg-12">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">课程表</h6>
            </div>
            <div class="card-body">
                <table class="table">
                     <tr>
                            <th>周一</th>
                            <th>周二</th>
                            <th>周三</th>
                            <th>周四</th>
                            <th>周五</th>
                            <th>周六</th>
                            <th>周日</th>
                        </tr>
                    {% for week in caleda_month %}
                        <tr>
                            {% for d in week %}
                                {% if d =="empty" %}
                                    <td class="bg-gray-200"><span class="text-gray-900">{{d}}</span></td>
                                {% else %}
                                    {% if d.flag==0 %}
                                        <td class="bg-gray-500"><span class="text-gray-900"><del>{{d.day}} {{d.course}}</del></span></td>
                                    {% elif d.flag==1 %}
                                        <td class="bg-gradient-primary"><span class="text-gray-900"><mark>{{d.day}} {{d.course}}</mark></span></td>
                                    {% else %}
                                        <td class="bg-gradient-success"><span class="text-gray-900">{{d.day}} {{d.course}}</span></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
          </div>
        </div>
    </div>

{% endblock %}
