<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <form  method="post">
    <p>{{ form.csrf_token }}</p>
       <p>{{ form.account.label }} {{ form.account }}
           <span>
             {% if form.account.errors %}
                <p style="color: red;font-size: 20px">{{ form.account.errors.0 }}</p>
            {% endif %}
            </span>
       </p>

         <p>{{ form.pwd.label }}{{ form.pwd }}
           <span>
             {% if form.pwd.errors %}
                <p style="color: red;font-size: 20px">{{ form.pwd.errors.0 }}</p>
            {% endif %}
            </span>
       </p>
        <p> {{ form.repwd.label }}{{ form.repwd }}
           <span>
             {% if form.repwd.errors %}
                <p style="color: red;font-size: 20px">{{ form.repwd.errors.0 }}</p>
            {% endif %}
            </span>
       </p>
        <p>  {{ form.url.label }}{{ form.url }}
           <span>
             {% if form.url.errors %}
                <p style="color: red;font-size: 20px">{{ form.url.errors.0 }}</p>
            {% endif %}
            </span>
       </p>
        <p>{{ form.info.label }}{{ form.info }}
           <span>
             {% if form.info.errors %}
                <p style="color: red;font-size: 20px">{{ form.info.errors.0 }}</p>
            {% endif %}
            </span>
       </p>

        <p>{{ form.star.label }}{{ form.star }}
           <span>
             {% if form.info.errors %}
                <p style="color: red;font-size: 20px">{{ form.info.errors.0 }}</p>
            {% endif %}
            </span>
       </p>




    {{ form.submit }}
</form>




</body>
</html>